<div class="d-flex justify-content-center mt-4">
  <div class="d-flex flex-column">
    <div class="card" style="width: 40rem">
      <div class="card-header bg-dark text-light">Login</div>
      <div class="card-body bg-light">
        <form
          class="was-validated"
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="row">
            <div class="col-md-1"></div>
            <div class="form-group col-md-10">
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                class="form-control"
                formControlName="email"
                placeholder="test.example@careband.com"
                required="true"
              />
              <label for="password">Password</label>
              <input
                type="password"
                id="password"
                class="form-control"
                formControlName="password"
                placeholder="********"
                required="true"
              />
              <div class="col-md-1"></div>
            </div>
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-2">
                <button type="submit" class="btn btn-primary mt-4">
                  Login
                </button>
                </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
