<div class="container p-4 rounded">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nume</th>
        <th scope="col">Prenume</th>
        <th scope="col">CNP</th>
        <th scope="col">Varsta</th>
        <th scope="col">Numar telefon</th>
        <th scope="col">Email</th>
        <th scope="col">BUTTON</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.nume }}</td>
        <td>{{ user.prenume }}</td>
        <td>{{ user.cnp }}</td>
        <td>{{ user.varsta }}</td>
        <td>{{ user.nr_tel }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.id }}</td>
      </tr>
    </tbody>
  </table>
</div>
